@model ServerDiplom.Models.GroupModel
@{
    ViewData["Title"] = "AddGroup";
}
<div>
    <form asp-antiforgery="true" class="form" method="post" asp-action="AddGroup" asp-controller="Data">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label for="Cours">Курс</label>
                <input name="Cours" type="number" class="form-control">
                <span asp-validation-for="Cours"></span>
            </div>

            <div class="form-group">
                <label for="Faculty">Факультет</label><br />
                <select class="set-width custom-select" name="Faculty">
                    <option value="Технологический">Технологический</option>
                    <option value="Педагогический">Педагогический</option>
                    <option value="Естественно-математический">Естественно-математический</option>
                    <option value="Экономики и права">Экономики и права</option>
                </select>
                <span asp-validation-for="Faculty"></span>
            </div>

            <div class="form-group">
                <label for="TeachProfile">Имя группы</label><br />
                <input name="TeachProfile" type="text" class="form-control"/>
                <span asp-validation-for="TeachProfile"></span>
            </div>

            <input class="btn btn-outline-dark" type="submit" value="Сохранить!" />
        </div>
    </form>
</div>
