@model ServerDiplom.Models.TeacherModel
@{
    ViewData["Title"] = "Добавить преподавателя";
}

<div>
    <form asp-antiforgery="true" class="form" method="post" asp-action="AddTeacher" asp-controller="Data">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label for="LastName">Фамилия</label><br />
                <input class="form-control" name="LastName" type="text" />
                <span asp-validation-for="LastName"></span>
            </div>

            <div class="form-group">
                <label for="FirstName">Имя</label><br />
                <input class="form-control" name="FirstName" type="text"  />
                <span asp-validation-for="FirstName"></span>
            </div>

            <div class="form-group">
                <label for="MiddleName">Отчество</label><br />
                <input class="form-control" name="MiddleName" type="text" />
                <span asp-validation-for="MiddleName"></span>
            </div>

            <input class="btn btn-outline-dark" type="submit" value="Сохранить!" />
        </div>
    </form>
</div>