/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.form {
    width: 500px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
}

.shadow {
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
}

.hr-style {
    background: #669;
    margin: 0px;
}

.set-width{
    width: 200px;
}

.td-style {
    color: #669;
    padding: 5px 10px
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #000;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background: #f8f8f8;
    margin-bottom: 60px;
    font-size: 0.875rem;
    line-height: 1.5;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #444;
}

.footer {
    background: #172134;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.display-low{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-higher {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
}

.box_about {
    background: #fff;
    padding: 45px 45px 30px 45px;
    text-align: left;
    margin-bottom: 25px;
    position: relative;
}

.lead {
    font-size: 24px;
    font-size: 1.5rem;
    color: #637381;
}

.p_lead {
    font-size: 16px;
    color: #637381;
}
.right {
    margin-left: auto;
    margin-right: 0;
}
.main_title {
    margin-top: 40px;
    margin-bottom: 35px;
}
.main_title p {
    font-size: 23px;
    font-size: 1.4375rem;
    font-weight: 300;
}
