@{
    ViewData["Title"] = "Главная";
}

    <div class="text-center">
        <div class="main_title">
            <h2 style="color: #111;"> Мобильное-приложение «MySibgu»</h2>
            <p>Сибайский институт Башкирского государственного университета</p>
        </div>
        @{
            if (!User.Identity.IsAuthenticated)
            {
                <!--about Application-->
                <div class="row justify-content-center align-items-center">
                    <div class="box_about col-lg-5" style="background: #ffffff; padding: 45px 45px 30px 45px;">
                        <h2 style="color: #111;">Приложение</h2>
                        <p class="lead">Описание</p>
                        <p class="p_lead" style="margin-bottom: 0px;">Версия: v1.01</p>
                        <p class="p_lead" style="margin-bottom: 0px;">Операционная система: Android</p>
                        <p class="p_lead" style="margin-bottom: 0px;">Последнее обновление: 31.05.2020</p>
                        <p class="p_lead">Разработал: <a href="https://vk.com/youvintage">Кунафин Инсур</a></p>
                        <form method="get" asp-controller="Data" asp-action="DownloadFile">
                            <p class="p_lead">Скачать приложение MySibgu</p>
                            <button class="btn btn-outline-dark" type="submit">Скачать</button>
                        </form>
                    </div>
                    <div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
                        <img class="img-fluid" src="~/images/Group.png" width="312" height="268" />
                    </div>
                </div>
                <!--about University-->
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
                        <img class="img-fluid" src="~/images/aboutUnivScreen.jpg" width="312" height="268" />
                    </div>
                    <div class="box_about col-lg-5" style="background: #ffffff; padding: 45px 45px 30px 45px;">
                        <h2 style="color: #111;">СиБашГУ</h2>
                            <p class="lead">Описание</p>
                            <p class="p_lead">
                                Сибайский институт Башкирского государственного университета — крупный образовательный и научный центр башкирского Зауралья. Институт был основан в 1998 году. Создан приказом МО РФ путём объединения существовавших в городе с 1990 г. и 1993 г. филиалов БГПИ и БГУ. Сегодня в институте действуют 4 факультета.
                            </p>
                    </div>
                </div>
            }
            else if (User.Identity.Name == "Vintage")
            {
                <h1 class="display-4">@User.Identity.Name</h1>
                <p>Добро пожаловать в систему управления расписанием университета СиБашГУ.</p>
                <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
                <a class="btn btn-outline-dark" asp-action="CheckData" asp-controller="Data">База Данных</a><br />
                <form method="get" asp-controller="Data" asp-action="DownloadFile">
                    <br />
                    <button class="btn btn-outline-dark" type="submit">Скачать</button>
                </form>
                <h1 class="display-4">Commands</h1>

                <h4>Data/GetAllGroups</h4>
                <p>Возвращает в формате json список групп</p>
                <p>Пример: Data/GetAllGroups?id=1</p>

                <h4>Data/GetAllTeachers</h4>
                <p>Возвращает в формате json список преподавателей</p>
                <p>Пример: Data/GetAllTeachers?id=1&type=teacher</p>

                <h4>GetSheduleById(int id, string type)</h4>
                <p>Возвращает в формате Json расписание для преподавателей и студентов</p>
                <p>Types: student, teacher</p>
                <p>Пример: Data/GetSheduleById?id=1&type=teacher</p>
            }
            else
            {
                <p>@User.Identity.Name</p>
                <p>Добро пожаловать в систему управления расписанием университета СиБашГУ.</p>
            }
        }
    </div>
